# ***RED BALL TEAM - WHITE BALL TEAM***

### Participents:

   <font color=green>**Padma Revanth** 
    
  <font color=green>**G Venkata Narasimha**<font>

### Problem Statement:

<font color="blue">**Based on player skills,
we are going to build two equally efficient teams in two formats(Test,ODI) of cricket accordingly.**

### Domain:
**[ESPN Cricinfo](https://stats.espncricinfo.com/ci/engine/records/index.html?id=6;type=team)**

### Root Cause:

<font color='green'>**While we look into the teams which are playing Test format,ODI format & T20 format we can observe frequently occuring players in each formats.Most of the players playing 3-formats of crickets, as we know each format of cricket requires different kind of skillset. We are going to form teams with respect to the required format skills.**</font>

## **Web Scraping Using Beautifulsoup**

*We are starting with collecting the data by Scraping "ESPN Cricinfo" web page by using <font color=green>**BeautifulSoup**<font>
 <font color=black>library.*

In [2]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:

match_link=[]

player_name=[]
out_notout=[]
minutes=[]
fours=[]
sixers=[]
strike_rate=[]

batting_list=[]

bowling_list=[]

for i in range(2019,2024):
    URL= "https://stats.espncricinfo.com/ci/engine/records/team/match_results.html?class=2;id={};team=6;type=year".format(i)
    
    Page=requests.get(URL)
    html=Page.text
    soup = BeautifulSoup(html)
    
    line=str(soup.find_all("tr",attrs={"class":"data1"}))
    
    reg='href="\/([\/\w]+match\/[\d]+\.html)'
    
    link_tail=re.findall(reg,line)
    
    link_head="https://stats.espncricinfo.com/"
    
    for z in range(len(link_tail)):
        link=link_head+link_tail[z]
        match_link.append(link)
        url1=link
        Page1=requests.get(url1)
        html1=Page1.text
        soup1 = BeautifulSoup(html1)
        table=soup1.find_all("div",class_="ds-rounded-lg ds-mt-2")
        table1=soup1.find_all("div",class_="ds-rounded-lg ds-mt-2")
        table2=soup1.find_all("table",class_="ds-w-full ds-table ds-table-md ds-table-auto")
        #print(i,link)
  
    
        for i in table:
            if i.find("span",class_="ds-text-title-xs ds-font-bold ds-capitalize").text=="India":
                for k in i.find_all("td"):
                    batting_list.append(k.text)
                    if k.text=="Extras":
                        break
                    #print(k.text)
                for k in table2:
                    for l in k.find_all("td",class_={"ds-min-w-max","ds-w-0 ds-whitespace-nowrap ds-min-w-max ds-text-right","ds-w-0 ds-whitespace-nowrap ds-text-right"}):
                        bowling_list.append(l.text)
                        #print(l.text)

        

for i in range(batting_list.count('')):
    batting_list.remove('')  
for i in range(batting_list.count('Extras')):
    batting_list.remove('Extras')        


        
player_name=batting_list[:-1:8]
out_notout=batting_list[1:-1:8]
runs=batting_list[2:-1:8]    
balls=batting_list[3:-1:8]
minutes=batting_list[4:-1:8]
fours=batting_list[5:-1:8]
sixers=batting_list[6:-1:8]
strike_rate=batting_list[7:-1:8]+[batting_list[-1]]     
        
        
        
bowler=bowling_list[:-1:11]
overs=bowling_list[1:-1:11]
maidens=bowling_list[2:-1:11]
runs_given=bowling_list[3:-1:11]    
wickets=bowling_list[4:-1:11]
ECON=bowling_list[5:-1:11]
dots=bowling_list[6:-1:11]
WD=bowling_list[9:-1:11]
NB=bowling_list[10:-1:11]+[bowling_list[-1]]     
    
        
print(len(bowler))
print(len(overs))
print(len(maidens))
print(len(runs_given))
print(len(wickets))
print(len(ECON))
print(len(dots))
print(len(WD))
print(len(NB))
        
        
print(len(player_name))
print(len(out_notout))
print(len(runs))
print(len(balls))
print(len(minutes))
print(len(fours))
print(len(sixers))
print(len(strike_rate))

827
827
827
827
827
827
827
827
827
586
586
586
586
586
586
586
586

In [3]:
Bowling_data=pd.DataFrame({"Bowler":bowler,"Overs":overs,"Maidens":maidens,"runs_given":runs_given,"Wickets":wickets,"ECON":ECON,"Dotballs":dots,"Wideballs":WD,"Noballs":NB})
Bowling_data.head()
Bowling_data.shape

NameError: name 'bowler' is not defined

In [5]:
Batting_data=pd.DataFrame({"Player_name":player_name,"Out_Not":out_notout,"Runs":runs,"Balls":balls,"Time":minutes,"Fours":fours,"Sixers":sixers,"Strike_rate":strike_rate})
Batting_data.head()

,Player_name,Out_Not,Runs,Balls,Time,Fours,Sixers,Strike_rate
0,Rohit Sharma,c Maxwell b Stoinis,133,129,204,10,6,103.10
1,Shikhar Dhawan,lbw b Behrendorff,0,1,4,0,0,0.00
2,Virat Kohli (c),c Stoinis b Richardson,3,8,10,0,0,37.50
3,Ambati Rayudu,lbw b Richardson,0,2,2,0,0,0.00
4,MS Dhoni †,lbw b Behrendorff,51,96,110,3,1,53.12

In [6]:
T_match_id=[]
T_match_link=[]

T_player_name=[]
T_out_notout=[]
T_minutes=[]
T_fours=[]
T_sixers=[]
T_strike_rate=[]

T_batting_list=[]

T_bowling_list=[]

for i in range(2019,2024):
    T_URL= "https://stats.espncricinfo.com/ci/engine/records/team/match_results.html?class=1;id={};team=6;type=year".format(i)
    
    T_Page=requests.get(T_URL)
    T_html=T_Page.text
    T_soup = BeautifulSoup(T_html)
    
    T_line=str(T_soup.find_all("tr",attrs={"class":"data1"}))
    
    T_reg='href="\/([\/\w]+match\/[\d]+\.html)'
    
    T_link_tail=re.findall(T_reg,T_line)
    
    T_link_head="https://stats.espncricinfo.com/"
    
    for z in range(len(T_link_tail)):
        T_link=T_link_head+T_link_tail[z]
        T_match_link.append(T_link)
        T_url1=T_link
        T_Page1=requests.get(T_url1)
        T_html1=T_Page1.text
        T_soup1 = BeautifulSoup(T_html1)
        T_table=T_soup1.find_all("div",class_="ds-rounded-lg ds-mt-2")
        T_table1=T_soup1.find_all("div",class_="ds-rounded-lg ds-mt-2")
        T_table2=T_soup1.find_all("table",class_="ds-w-full ds-table ds-table-md ds-table-auto")
        
        for i in T_table:
            if i.find("span",class_="ds-text-title-xs ds-font-bold ds-capitalize").text=="India":
                for k in i.find_all("td"):
                    T_batting_list.append(k.text)
                    if k.text=="Extras":
                        break
                for k in T_table2:
                    for l in k.find_all("td",class_={"ds-min-w-max","ds-w-0 ds-whitespace-nowrap ds-min-w-max ds-text-right","ds-w-0 ds-whitespace-nowrap ds-text-right"}):
                        T_bowling_list.append(l.text)                         
                        


    for i in range(T_batting_list.count('')):
        T_batting_list.remove('')  
    for i in range(T_batting_list.count('Extras')):
        T_batting_list.remove('Extras')        
    for i in range(T_bowling_list.count('')):
        T_bowling_list.remove('')
    for i in range(T_bowling_list.count('\xa0')):
        T_bowling_list.remove('\xa0')
        
T_player_name=T_batting_list[:-1:8]
T_out_notout=T_batting_list[1:-1:8]
T_runs=T_batting_list[2:-1:8]    
T_balls=T_batting_list[3:-1:8]
T_minutes=T_batting_list[4:-1:8]
T_fours=T_batting_list[5:-1:8]
T_sixers=T_batting_list[6:-1:8]
T_strike_rate=T_batting_list[7:-1:8]+[T_batting_list[-1]]     
        
        
        
T_bowler=T_bowling_list[:-1:11]
T_overs=T_bowling_list[1:-1:11]
T_maidens=T_bowling_list[2:-1:11]
T_runs_given=T_bowling_list[3:-1:11]    
T_wickets=T_bowling_list[4:-1:11]
T_ECON=T_bowling_list[5:-1:11]
T_dots=T_bowling_list[6:-1:11]
T_WD=T_bowling_list[9:-1:11]
T_NB=T_bowling_list[10:-1:11]+[T_bowling_list[-1]]     
    
        
print(len(T_bowler))
print(len(T_overs))
print(len(T_maidens))
print(len(T_runs_given))
print(len(T_wickets))
print(len(T_ECON))
print(len(T_dots))
print(len(T_WD))
print(len(T_NB))
        
        
print(len(T_player_name))
print(len(T_out_notout))
print(len(T_runs))
print(len(T_balls))
print(len(T_fours))
print(len(T_sixers))
print(len(T_strike_rate))

1137
1137
1137
1137
1137
1137
1137
1137
1137
576
576
576
576
576
576
576

In [7]:
Test_Batting_data=pd.DataFrame({"Player_name":T_player_name,"Out_Not":T_out_notout,"Runs":T_runs,"Balls":T_balls,"Time":T_minutes,"Fours":T_fours,"Sixers":T_sixers,"Strike_rate":T_strike_rate})
Test_Batting_data.head()

,Player_name,Out_Not,Runs,Balls,Time,Fours,Sixers,Strike_rate
0,Mayank Agarwal,c Starc b Lyon,77,112,-,7,2,68.75
1,KL Rahul,c Marsh b Hazlewood,9,6,-,2,0,150.00
2,Cheteshwar Pujara,c & b Lyon,193,373,-,22,0,51.74
3,Virat Kohli (c),c †Paine b Hazlewood,23,59,-,4,0,38.98
4,Ajinkya Rahane,c †Paine b Starc,18,55,-,1,0,32.72

In [8]:
Test_Bowling_data=pd.DataFrame({"Bowler":T_bowler,"Overs":T_overs,"Maidens":T_maidens,"runs_given":T_runs_given,"Wickets":T_wickets,"ECON":T_ECON,"Dotballs":T_dots,"Wideballs":T_WD,"Noballs":T_NB})
Test_Bowling_data.tail()

,Bowler,Overs,Maidens,runs_given,Wickets,ECON,Dotballs,Wideballs,Noballs
1132,Shakib Al Hasan,14,0,50,2,3.57,55,0,0
1133,Taijul Islam,11,4,14,0,1.27,56,0,0
1134,Mehidy Hasan Miraz,19,4,63,5,3.31,81,0,0
1135,Taskin Ahmed,1,0,4,0,4.00,4,0,0
1136,Khaled Ahmed,2,0,12,0,6.00,7,0,0

# Exporting

In [9]:
Batting_data.to_csv(r"C:\Users\hp\Desktop\Redball-Whiteball\ODI_Batting.csv", index=False)

In [10]:
Bowling_data.to_csv(r"C:\Users\hp\Desktop\Redball-Whiteball\ODI_Bowling.csv", index=False)

In [11]:
Test_Batting_data.to_csv(r"C:\Users\hp\Desktop\Redball-Whiteball\Test_Batting.csv", index=False)

In [12]:
Test_Bowling_data.to_csv(r"C:\Users\hp\Desktop\Redball-Whiteball\Test_Bowling.csv", index=False)